{{ $currentPage := . }}
<nav role="navigation">
    <ul class="">
        {{ range .Site.Menus.docs.ByWeight }}
            {{ $post := printf "%s" .Post }}
            <li class="{{ if eq $post "break" }} mb1 bb b--moon-gray{{ end }}">
                <a href="{{ if .HasChildren }}javascript:void(0){{ else }}{{ .URL }}{{ end }}" class="{{if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }} primary-color{{end}}" data-target=".{{ .Identifier }}">{{ .Name }}</a>

                {{- if .HasChildren }}
                    <ul class="{{ .Identifier }} {{if $currentPage.HasMenuCurrent "docs" . }} db{{ else }} dn{{ end }}">
                        {{- range .Children }}
                            <li class="">
                                <a href="{{.URL}}" class="{{if $currentPage.IsMenuCurrent "docs" . }}primary-color {{ else }}black {{end}}">
                                {{ .Name }}
                                </a>
                            </li>
                        {{- end}}
                    </ul>
                {{- end}}
            </li>
        {{- end}}
    </ul>
</nav>
