{{ define "title" }}
    {{ .Site.Title }} Docs - {{ .Title }}
{{ end }}

{{ define "main" }}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            {{ partial "nav-links-docs.html" . }}
        </div>
        <div class="col-lg-10 clearfix">
            <h1 class="display-3">{{ .Title }}</h1><hr>

            <div class="col-lg-4 float-right toc-border">
                {{- partial "toc.html" . -}}
            </div>

            {{ .Content }}

            <div class="update-box">
                This page was last updated: {{ .Lastmod.Format "January 2, 2006" }}:
                {{ with .GitInfo }}
                <a class="hide-child link primary-color" href="{{$.Site.Params.docs_repo}}commit/{{ .Hash }}">{{ .Subject }} ({{ .AbbreviatedHash }})</a>
                {{end}}
                <br>
                <a href="{{$.Site.Params.docs_repo}}tree/master/content/{{.File.Path}}" class="btn btn-primary">Improve this page</a>
            </div>
        </div>



    </div>

</div>


{{ end }}